name: ci

on:
  push:
    branches:
      - "master"

jobs:
  docker:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v2
      - name: Set up QEMU
        uses: docker/setup-qemu-action@v1
      - name: Login to DockerHub
        uses: docker/login-action@v1
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}
      - name: Login to GitHub Container Registry
        uses: docker/login-action@v1
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}
      # - name: Login to Darknamer Container Registry
      #   uses: docker/login-action@v1
      #   with:
      #     registry: hub.darknamer.xyz
      #     username: darknamer
      #     password: ${{ secrets.ACCESS_TOKEN }}
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v1
      - name: SDK 6.0 Build and push
        uses: docker/build-push-action@v2
        with:
          context: .
          file: ./dotnet/6.0/sdk/Dockerfile
          platforms: linux/amd64
          push: true
          tags: "ghcr.io/unnamed22090/dotnet/sdk:6.0", "unnamed22090/dotnet:sdk-6.0"
      - name: SDK 3.1 Build and push
        uses: docker/build-push-action@v2
        with:
          context: .
          file: ./dotnet/3.1/sdk/Dockerfile
          platforms: linux/amd64
          push: true
          tags: "ghcr.io/unnamed22090/dotnet/sdk:3.1", "unnamed22090/dotnet:sdk-3.1"
